<configuration>
	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="STDERR"/>
	</root>

	<logger name="ninja.mspp" level="INFO"/>
	<logger name="io.netty" level="WARN"/>
	<logger name="com.github.dockerjava" level="WARN"/>
</configuration>
